@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf');
}
.col-9 {
    flex: 0 0 calc(75% + 44px);
    max-width: calc(75% + 44px);
}
.col-3 {
    flex: 0 0 calc(25% - 44px);
    max-width: calc(25% - 44px);
}
.fa {
    font-size: 18px;
}
p {
    margin-bottom: 0;
}
textarea:focus {
    outline: none;
}
body > div {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Roboto';
}
body > div > div:first-child {
    display: flex;
    justify-content: space-between;
}
body > div > div:first-child > div:first-child {
    display: flex;
    align-items: center;
}
body > div > div:first-child > div:first-child > div > a > img {
    height: 24px;
}
body > div > div:first-child > div:nth-child(2) {
    display: flex;
    align-items: center;
}
body > div > div:first-child > div:last-child {
    display: flex;
    align-items: center;
}
body > div > div:first-child > div:last-child > a, .col-9 > div:nth-child(3) > div > a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.btn {
    border-radius: 2px;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
a:hover {
    text-decoration: none;
}
.col-9 > div:nth-child(3) > div > div > .btn {
    margin-top: 8px;
    padding: 0;
    color: rgba(255,255,255,.625);
    font-size: 13px;
}
.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.col-9 > div:first-child {
    position: relative;
}
.col-9 > div:first-child > video {
    width: 100%;
}
.col-9 > div:first-child > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.col-9 > div:first-child > div > div:last-child > div:first-child {
    display: flex;
    justify-content: flex-end;
}
.col-9 > div:nth-child(2) > span {
    font-size: 18px;
}
.col-9 > div:first-child > div > div:last-child {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col-9 > div:first-child > div > div:last-child > div:last-child > div:last-child > div:first-child {
    display: flex;
    align-items: center;
}
.col-9 > div:first-child > div > div:last-child > div:last-child > div:last-child {
    display: flex;
    justify-content: space-between;
}
.col-9 > div:nth-child(2) > div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-9 > div:nth-child(2) > div:last-child > div:first-child {
    display: flex;
}
.col-9 > div:nth-child(2) > div:last-child > div:first-child > span:last-child::before {
    content: "•";
    margin: 0 4px
}
.col-9 > div:nth-child(2) > div:last-child > div:last-child {
    display: flex;
}
.col-9 > div:nth-child(2) > div:last-child > div:last-child > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.progress {
    width: 100%;
    height: 4px;
}
.col-9 > div:nth-child(3) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.col-9 > div:nth-child(3) > div {
    display: flex;
    align-items: flex-start;
}
.col-9 > div:nth-child(3) > div > a {
    min-width: 48px;
}
.col-9 > div:nth-child(3) > div > a > img {
    height: 48px;
}
.col-9 > div:nth-child(3) > div > div > div > div:first-child {
    display: flex;
    align-items: center;
}
.col-9 > div:nth-child(3) > div > div > div > div:last-child {
    font-size: 14px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > .btn {
    color: rgba(255,255,255,.5);
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > .btn:hover {
    color: #fff;
}
.col-9 > div:nth-child(3) > div > div > div > div > i {
    margin-left: 4px;
}
.col-3 > div:first-child {
    border: 1px solid rgba(255,255,255,.1);
}
.col-3 > div:first-child > div:first-child {
    background-color: rgba(33, 33, 33, 0.98);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 12px 6px 0 16px;
}
.col-3 > div:first-child > div:first-child > div {
    padding-right: 4px;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}
.col-3 > div:first-child > div:first-child > div > div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.col-3 > div:first-child > div:first-child > div > .btn {
    padding: .375rem .375rem;
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 50%;
}
.col-3 > div:first-child > div:first-child > div > .btn:active {
    background-color: #6e6e6e;
}
.col-3 > div:first-child > div:first-child > .btn {
    margin-right: 2px;
    padding: 10px;
    display: flex;
    color: rgba(255,255,255,.5);
    border-radius: 50%;
}
.col-3 > div:first-child > div:first-child > .btn:active {
    background-color: #474747;
}
.col-3 > div:first-child > div:first-child > div > .btn > .fa {
    color: #fff;
    font-size: 12px;
}
.col-3 > div:first-child > div:first-child > div > div > span:first-child {
    margin: 0 8px 4px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-3 > div:first-child > div:first-child > div > div > span:last-child {
    color: #aaa;
    font-size: 12px;
    line-height: 15px;
}
.col-3 > div:not(:last-child) {
    margin-bottom: 8px;
}
.col-3 > div:nth-child(2) {
    height: 48px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.col-3 > div:nth-child(2) > .btn {
    background-color: #181818;
    height: 100%;
    min-width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    color: #fff;
    border: 0;
}
.col-3 > div:nth-child(2) > .btn:first-child::after, 
.col-3 > div:nth-child(2) > .btn:last-child::before {
    content: "";
    width: 32px;
    height: 100%;
    position: absolute;
    top: 0;
}
.col-3 > div:nth-child(2) > .btn:first-child::after {
    background: linear-gradient(to left, transparent, #181818);
    left: 48px;
}
.col-3 > div:nth-child(2) > .btn:last-child::before {
    background: linear-gradient(to right, transparent, #181818);
    right: 48px;
}
.col-3 > div:nth-child(2) > .btn > .fa {
    font-size: 12px;
}
.col-3 > div:nth-child(2) > .btn:first-child {
    left: 0;
}
.col-3 > div:nth-child(2) > .btn:last-child {
    right: 0;
}
.col-3 > div:nth-child(2) > div {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}
.col-3 > div:nth-child(2) > div::-webkit-scrollbar {
    display: none;
}
.col-3 > div:nth-child(2) > div > a {
    background-color: rgba(255,255,255,.1);
    padding: 4px 12px;
    color: #fff;
    font-size: 14px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 16px;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}
.col-3 > div:nth-child(2) > div > a:hover, 
.col-3 > div:nth-child(2) > div > a.hover {
    background-color: rgba(255,255,255,.25);
}
.col-3 > div:nth-child(2) > div > a.active {
    background-color: #ffff;
    color: #030303;
}
.col-3 > div:nth-child(2) > div > a.active:hover {
    background-color: #909090;
}
.col-3 > div:nth-child(2) > div > a:not(:last-child) {
    margin-right: 8px;
}
.progress-bar {
    background-color: #ff0000;
}
.col-3 > div:nth-child(3) > .card:not(.verified) > div:nth-child(2) > div:nth-child(2) > .fa-check-circle {
    display: none;
}
.col-3 > div:nth-child(3) > .card:not(.music) > div:nth-child(2) > div:nth-child(2) > .fa-music {
    display: none;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:last-child {
    display: flex;
    margin-top: 2px;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:last-child > span {
    font-size: 12px;
    border-radius: 2px;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:last-child > span:first-child {
    padding: 0 4px;
    color: #ff4e45;
    border: 1px solid #ff4e45;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:last-child > span:not(:first-child) {
    background-color: rgba(255,255,255,.1);
    padding: 1px 4px;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:last-child > span:nth-child(2) {
    color: rgba(255,255,255,.5);
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:last-child > span:nth-child(n+3) {
    color: #2ba640;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:nth-child(3) {
    display: flex;
    align-items: center;
    color: rgba(255,255,255,.5);
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:nth-child(3) > span::before {
    content: "•";
    margin: 0 4px;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:nth-child(2) > i {
    margin-left: 4px;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:nth-child(2) > i {
    font-size: 12px;
}
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:nth-child(2) > span:nth-child(2) {
    color: rgba(255,255,255,.5);
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:first-child > img {
    height: 94px;
}
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:first-child > img {
    height: 56px;
}
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:first-child {
    min-width: 100px;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:first-child {
    min-width: 168px;
}
.col-3 > div:nth-child(3) > .card > .btn:hover {
    color: #fff;
}
.col-3 > div:first-child > div:nth-child(2) {
    height: 413px;
    padding: 4px 0;
    overflow-y: auto;
}
.col-3 > div:first-child > div:nth-child(2)::-webkit-scrollbar {
    background-color: transparent;
    width: 16px;
}
.col-3 > div:first-child > div:nth-child(2)::-webkit-scrollbar-thumb {
    background-color: #909090;
    border: 4px solid #181818;
    border-radius: 8px;
}
.col-3 > div:first-child > div:nth-child(2)::-webkit-scrollbar-thumb:hover {
    background-color: #606060;
}
.col-3 > div:first-child > div:nth-child(2) > div {
    padding: 4px 0;
    display: flex;
}
.col-3 > div:first-child > div:nth-child(2) > div:hover, 
.col-3 > div:first-child > div:nth-child(2) > .active {
    background-color: rgba(255,255,255,.1);
}
.col-3 > div:first-child > div:nth-child(2) > div > div:first-child {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-3 > div:first-child > div:nth-child(2) > div:not(.active) > div:first-child > .fa {
    display: none;
}
.col-3 > div:first-child > div:nth-child(2) > div > div:first-child > .fa {
    color: #aaa;
    font-size: 12px;
}
.col-3 > div:nth-child(3) > .card, 
.col-3 > div:first-child > div:nth-child(2) > div > .card {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: 0;
    border-radius: 0;
}
.col-3 > div:first-child > div:nth-child(2) > div > .card {
    width: 100%;
}
.col-3 > div:nth-child(3) > .card {
    align-items: flex-start;
}
.col-3 > div:nth-child(3) > .card:hover, 
.col-3 > div:first-child > div:nth-child(2) > div > .card:hover {
    cursor: pointer;
}
.col-3 > div:nth-child(3) > .card:not(:last-child) {
    margin-bottom: 8px;
}
.col-3 > div:nth-child(3) > .card > .btn, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > .btn {
    color: rgba(255,255,255,.5);
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:first-child > div:first-child > .btn, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:first-child > div:first-child > .btn {
    background-color: rgba(0,0,0,.625);
    width: 28px;
    height: 28px;
    margin: 4px 4px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.col-3 > div:nth-child(3) > .card > div:first-child, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child {
    display: flex;
    margin-right: 8px;
    position: relative;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:first-child, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child, 
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:first-child, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:first-child > div:first-child, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:first-child > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:first-child > div:last-child, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:first-child > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:first-child > div:last-child > span, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:first-child > div:last-child > span {
    background-color: rgba(0,0,0,.625);
    margin-right: 4px;
    padding: 0 4px;
    color: rgba(255,255,255,.875);
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:first-child > div:last-child > span:last-child, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:first-child > div:last-child > span:last-child {
    margin-bottom: 4px;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:first-child > div:last-child > .progress, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:first-child > div:last-child > .progress {
    background-color: #909090;
    height: 4px;
    border-radius: 0;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:nth-child(2), 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:nth-child(2) {
    background-color: rgba(0,0,0,.625);
    width: 35%;
    margin-left: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:nth-child(2) > span, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:nth-child(2) > span {
    margin-bottom: 4px;
    font-weight: 500;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:nth-child(3), 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:nth-child(3) > i,
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:nth-child(3) > i {
    font-size: 36px;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:last-child, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:last-child {
    background-color: rgba(0,0,0,.625);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:last-child > span, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:last-child > span {
    margin-left: 8px;
    font-size: 13px;
    font-weight: 500;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:last-child > i, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:last-child > i {
    font-size: 16px;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2), 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:nth-child(2) {
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > span, 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:nth-child(2) > span:first-child {
    color: #fff;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
}
.col-3 > div:nth-child(3) > .card > div:nth-child(2) > div:nth-child(2) {
    display: flex;
    align-items: center;
    color: rgba(255,255,255,.5);
}
.col-3 > div:nth-child(3) > .card.live > div:first-child > div:last-child > div:first-child > div:last-child > span, 
.col-3 > div:first-child > div:nth-child(2) > div > .card.live > div:first-child > div:last-child > div:first-child > div:last-child > span {
    display: none;
}
.col-3 > div:nth-child(3) > .card.live > div:nth-child(2) > div:nth-child(3) > div > span:nth-child(2), 
.col-3 > div:first-child > div:nth-child(2) > div > .card.live > div:nth-child(2) > div:nth-child(3) > div > span:nth-child(2) {
    display: none;
}
.col-3 > div:nth-child(3) > .card:not(.live) > div:nth-child(2) > div:nth-child(3) > div > span:last-child, 
.col-3 > div:first-child > div:nth-child(2) > div > .card:not(.live) > div:nth-child(2) > div:nth-child(3) > div > span:last-child {
    display: none;
}
.col-3 > div:nth-child(3) > .card.live > div:nth-child(2) > div:nth-child(3) > span, 
.col-3 > div:first-child > div:nth-child(2) > div > .card.live > div:nth-child(2) > div:nth-child(3) > span {
    display: none;
}
.col-3 > div:nth-child(3) > .card.list > div:nth-child(2) > div:nth-child(3) > div, 
.col-3 > div:nth-child(3) > .card.list:not(.updated) > div:nth-child(2) > div:nth-child(3) > span::before, 
.col-3 > div:first-child > div:nth-child(2) > div > .card.list > div:nth-child(2) > div:nth-child(3) > div, 
.col-3 > div:first-child > div:nth-child(2) > div > .card.list:not(.updated) > div:nth-child(2) > div:nth-child(3) > span::before {
    display: none;
}
.col-3 > div:nth-child(3) > .card.list.updated > div:nth-child(2) > div:nth-child(3) > span::before, 
.col-3 > div:first-child > div:nth-child(2) > div > .card.list.updated > div:nth-child(2) > div:nth-child(3) > span::before {
    content: "Updated";
}
.col-3 > div:nth-child(3) > .card.new > div:nth-child(2) > div:last-child > span:not(:nth-child(2)), 
.col-3 > div:first-child > div:nth-child(2) > div > .card.new > div:nth-child(2) > div:last-child > span:not(:nth-child(2)) {
    display: none;
}
.col-3 > div:nth-child(3) > .card.fund > div:nth-child(2) > div:last-child > span:not(:nth-child(3)), 
.col-3 > div:first-child > div:nth-child(2) > div > .card.fund > div:nth-child(2) > div:last-child > span:not(:nth-child(3)) {
    display: none;
}
.col-3 > div:nth-child(3) > .card.buy > div:nth-child(2) > div:last-child > span:not(:nth-child(4)), 
.col-3 > div:first-child > div:nth-child(2) > div > .card.buy > div:nth-child(2) > div:last-child > span:not(:nth-child(4)) {
    display: none;
}
.col-3 > div:nth-child(3) > .card.rent > div:nth-child(2) > div:last-child > span:not(:nth-child(5)), 
.col-3 > div:first-child > div:nth-child(2) > div > .card.rent > div:nth-child(2) > div:last-child > span:not(:nth-child(5)) {
    display: none;
}
.col-3 > div:nth-child(3) > .card.both > div:nth-child(2) > div:last-child > span:not(:nth-child(6)), 
.col-3 > div:first-child > div:nth-child(2) > div > .card.both > div:nth-child(2) > div:last-child > span:not(:nth-child(6)) {
    display: none;
}
.col-3 > div:nth-child(3) > .card > div:first-child > div:last-child > div:not(:first-child), 
.col-3 > div:first-child > div:nth-child(2) > div > .card > div:first-child > div:last-child > div:not(:first-child) {
    display: none;
}
.col-3 > div:nth-child(3) > .card.list > div:first-child > div:last-child > div:nth-child(2), 
.col-3 > div:first-child > div:nth-child(2) > div > .card.list > div:first-child > div:last-child > div:nth-child(2) {
    display: flex;
}
.col-3 > div:nth-child(3) > .card.list > div:first-child > div:last-child > div:not(:nth-child(2)), 
.col-3 > div:first-child > div:nth-child(2) > div > .card.list > div:first-child > div:last-child > div:not(:nth-child(2)) {
    display: none;
}
.col-3 > div:nth-child(3) > .card.list > div:first-child > div:last-child > div:first-child > div:last-child > .progress, 
.col-3 > div:first-child > div:nth-child(2) > div > .card.list > div:first-child > div:last-child > div:first-child > div:last-child > .progress {
    visibility: hidden;
}
.col-3 > div:nth-child(3) > .card.live > div:nth-child(2) > div:last-child > span:not(:first-child), 
.col-3 > div:first-child > div:nth-child(2) > div > .card.live > div:nth-child(2) > div:last-child > span:not(:first-child) {
    display: none;
}
body > div > div:first-child > div:last-child > a > img {
    height: 32px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child {
    margin-bottom: 32px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:first-child {
    display: flex;
    align-items: flex-start;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:first-child > div:first-child, .col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.col-9 > div:nth-child(4) > div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.col-9 > div:nth-child(4) > div:first-child > div {
    margin-right: 24px;
}
.col-9 > div:nth-child(4) > div:first-child > .btn {
    color: rgba(255,255,255,.5);
    font-size: 14px;
}
.col-9 > div:nth-child(4) > div:first-child > .btn > i {
    margin-right: 6px;
    font-size: 14px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:first-child > div:first-child, .col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > a {
    min-width: 40px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:first-child > div:first-child > img, .col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > a > img {
    height: 40px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:first-child > textarea {
    background-color: transparent;
    width: 100%;
    margin-bottom: 8px;
    padding: 4px 0;
    color: #fff;
    font-size: 14px;
    border-width: 0 0 1px 0;
    border-color: rgba(255,255,255,.1);
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:first-child > textarea:focus {
    border-color: #000;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:first-child > textarea::placeholder {
    color: rgba(255,255,255,.5);
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:last-child {
    margin-top: -2px;
    display: flex;
    justify-content: flex-end;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:last-child > .btn {
    line-height: 18px;
    padding: 8px 16px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:last-child > .btn:not(:last-child) {
    margin-right: 8px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:last-child > .btn:last-child {
    background-color: #3ea6ff;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:last-child > .btn:last-child:disabled {
    background-color: #606060;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:last-child > .btn:first-child > span {
    color: rgba(255,255,255,.625);
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:last-child > .btn:last-child > span {
    color: #030303;
    font-weight: 500;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div {
    display: flex;
    align-items: flex-start;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div:not(:last-child) {
    margin-bottom: 20px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > .btn {
    display: flex;
    align-items: center;
    color: #3ea6ff;
    font-weight: 500;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > .btn > i {
    margin-right: 14px;
    font-size: 14px;
}


.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > *:nth-child(-n+2) {
    margin-bottom: 4px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > div:first-child {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 18px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > div:first-child > *:not(:first-child) {
    margin-left: 6px;
    color:rgba(255,255,255,.5);
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > div:first-child > a {
    color: #fff;
    font-weight: 500;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > div:first-child > i {
    font-size: 10px;
    margin-bottom: 2px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > p {
    font-size: 14px;
    line-height: 20px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > *:nth-child(n+3) {
    margin-left: -9px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > div:nth-child(3) {
    display: flex;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > div > .btn {
    display: flex;
    align-items: center;
    color: rgba(255,255,255,.5);
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > div > .btn > .fa {
    margin-right: 8px;
    font-size: 16px;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > div > .btn:hover > .fa {
    color: #fff;
}
.col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div > div > .btn > span {
    font-size: 13px;
    line-height: 18px;
}
.col-9 > div:nth-child(3) > div > div, .col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:first-child > div:first-child > textarea, .col-9 > div:nth-child(4) > div:last-child > div:first-child > div > div:last-child > div > div {
    margin-left: 16px;
}